.margin-0{
	margin: 0px;
}
.home-banner-container {
	background-size: cover;
	background-repeat: no-repeat;
}
.curosel-left {
  padding-left: 6%;
  padding-top: 15px;
  @media only screen and (max-width: 767px) {
    &{
      padding-left: 0%;
    }
  }
}